*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image:url(/image/wallpaperbetter.jpg);
    background-size:100%;
}

header {
    /*-webkit-text-stroke: 2px black; /*para poner borde negro en tipografia*/
    text-align: left;
    background-image: url(/image/baner.jpg);
    background-size: cover; /*amplia la imagen background hasta cubrir el espacio*/
    height: 300px;
}

.nav-enlace{
  display: inline-block;
  background-color:rgb(92, 149, 211);
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  font-family: Bebas Neue ;
  font-size:30px;
  border-radius: 5px;
}

.nav-enlace:hover{
  background: rgb(41, 66, 94);;
}

nav{
  background-color:rgba(99, 163, 223, 0.479);
  padding:10px;
  margin: 5px;
  margin-top: 55px;
  display: flex;
  justify-content: space-around;
  border-radius:5px;
  animation-name: colores;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

div.secccion-marcas {
    font-family: 'Bebas Neue', cursive;
    font-size:75px;
    color:white;
    -webkit-text-stroke: 2px black;
    text-align: center;
    background:lightsteelblue;
    height: 150px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
div.links{
  display: flex;
  flex-direction: column;
  align-items: center
}

@keyframes colores{
    0% {
      background-color: rgba(73, 115, 194, 0.514);
    }
    50%{
      background-color: rgba(146, 190, 255, 0.486);
    }
    100%{
      background-color: rgba(176, 196, 222, 0.452);
    }
  }

h1 {
    -webkit-text-stroke: 1px black; /*para poner borde negro en tipografia*/
    font-family: 'Bebas Neue', cursive;
    font-size:120px;
    color:white;
    font-weight: lighter;
  } 

h2{
  font-family: 'Bebas Neue', cursive;
  font-weight: lighter;
  font-size:23px;
  color:white;
  text-align: center;
  padding: 10px;
  }

h3{
  font-family: 'Bebas Neue', cursive;
  font-weight: lighter;
  font-size:18px;
  color:white;
  text-align: center;
  padding: 10px;
  }

p{
  font-size: 100px;
  }

span{
  font-family: 'Bebas Neue', cursive;
    font-size:50px;
    color:white;
    text-align: center;
    padding: 10px;
  }

div.registro{
  width: 100%;
  height: 150px;
  margin: 2px;
  }

img {
  box-sizing: border-box;  
  border-radius: 10px;
  width: 5px;
  }

div.modelos{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  }

.contenedor-detalle .caja-video {
  overflow: hidden;
  padding-bottom: 400px;
  position: relative;
  height: 0;
  max-width: 960px;
  }

div.video{
  text-align: center;
  width: 100%;
  height: 100%;
  }

.contenedor-detalle .caja-video * {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  }

footer{
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding-bottom: 15px;
  }

footer .principal{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  max-width: 1900px;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
  text-align: center;
  }

footer .text{
  display: flex;
  flex-direction: column;
  justify-content: c;
  align-items: center;
}

footer .principal div{
  margin: 10px;
  padding: 5px;
  max-width: 250px;
}

footer .principal .text img{
  width: 250px;
}

footer .social-media-menu ul{
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .social-media-menu ul li{
  font-size: 50px;
  padding: 15px;
  list-style:none; /*sacamos las viñetas de la lista*/
}


footer .links h3{
  text-align: center;
}

footer .links ul{
  padding: 0px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .links ul li{
  font-size: 1.1em;
  padding: 15px;
  list-style:none;/*sacamos las viñetas de la lista*/
}

footer .links ul li a :hover {
  background-color : #1d1d1d;
  cursor:pointer;
}

footer ul li a{
  color: white;
  text-decoration: none;
}

.contact {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 10;
}

.contact .fixed-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d91;
  padding: 15px;
  border-radius: 100%;
  margin: 10px;
}

.contact .fixed-wp {
  background-color: #1d1d1d91;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 100%;
  margin: 10px;
  text-align: center;
}

.contact a i{
  font-size: 50px;
  color: white;
}


/*EL EFECTO HOVER EN FOTOS*/
.guitarras .guitarras-list {
  padding: 0px;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.guitarras .guitarras-list li {
  position: relative;
  width: 270px;
  height: 475px;
  margin: 20px;
  overflow: hidden;
}

.guitarras .guitarras-list li img {
  height: inherit;
  width: inherit;
  
}

.guitarras .guitarras-list li .guitarras-description {
  position: absolute;
  background-color: #1d1d1dad;
  color: white;
  height: 80%;
  right: 0px;
  bottom: 0px;
  width: inherit;
  transform: translate(0%, 100%);
  transition: transform;
  transition-duration: .75s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guitarras .guitarras-list li:hover .guitarras-description {
  transform: translate(0%, 0%);
}

.guitarras .guitarras-list li .guitarras-description .guitarras-description-items {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.guitarras .guitarras-list li .guitarras-description .guitarras-descrition-items h2 {
  text-align: center;
  font-size: medium;
}

.guitarras .guitarras-list li .guitarras-description .deatil-buttons {
  display: flex;
  flex-direction: column;
  font-family: Bebas Neue ;
}

.guitarras .guitarras-list li .guitarras-description .deatil-buttons i {
  margin: 5px;
}

.guitarras .guitarras-list li .guitarras-description .deatil-buttons a {
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #0069d9;
  border-radius: 6px;
  height: 50px;
  border: 0px;
  text-align: center;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 0.5s;
}


/*TERMINA CODIGO PARA HOVER*/

@media(max-width: 768px){
  h1 {
    -webkit-text-stroke: 0.8px black; /*para poner borde negro en tipografia*/
    font-family: 'Bebas Neue', cursive;
    font-size:75px;
    color:white;
    font-weight: lighter;
  } 

  h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    font-size:23px;
    color:white;
    text-align: center;
    padding: 10px;
    }
  
  h3{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    font-size:18px;
    color:white;
    text-align: center;
    padding: 10px;
    }

  p{
    font-size: 55px;
  }
  img {
    box-sizing: border-box;  
    width: 100%;
  }
  
 
  .nav-enlace{
    display: inline-block;
    background-color:rgb(92, 149, 211);
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    font-family: Bebas Neue ;
    font-size:15px;
    border-radius: 5px;
  }

  .nav-enlace:hover{
    background: rgb(41, 66, 94);;
  }

  nav{
    background-color:rgba(99, 163, 223, 0.479);
    padding:10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius:5px;
    animation-name: colores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 40%;
    margin-left: 30%;
    text-align: center;
  }

  div.secccion-marcas {
    font-family: 'Bebas Neue', cursive;
    font-size:75px;
    color:white;
    -webkit-text-stroke: 2px black;
    text-align: center;
    background:lightsteelblue;
    height: 100px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
  }
  .guitarras .guitarras-list li img {
    height: inherit;
    width: inherit;
    border-radius: 8px;
  }
  .guitarras .guitarras-list {
    padding: 0px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media(max-width: 320px){

  h1 {
    -webkit-text-stroke: 0.8px black; /*para poner borde negro en tipografia*/
    font-family: 'Bebas Neue', cursive;
    font-size:50px;
    color:white;
    font-weight: lighter;
  } 

  h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    font-size:23px;
    color:white;
    text-align: center;
    padding: 10px;
    }
  
  h3{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    font-size:18px;
    color:white;
    text-align: center;
    padding: 10px;
    }
  p{
    font-size: 55px;
  }

  .nav-enlace{
    display: inline-block;
    background-color:rgb(92, 149, 211);
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    font-family: Bebas Neue ;
    font-size:10px;
    border-radius: 5px;
  }
  .nav-enlace:hover{
    background: rgb(41, 66, 94);;
  }
  nav{
    background-color:rgba(99, 163, 223, 0.479);
    padding:10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:5px;
    animation-name: colores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    max-width: 40%;
    margin-left: 30%;
    text-align: center;
  }

  div.secccion-marcas {
    font-family: 'Bebas Neue', cursive;
    font-size:75px;
    color:white;
    -webkit-text-stroke: 2px black;
    text-align: center;
    background:lightsteelblue;
    height: 50px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    position: relative;

  }
  .guitarras .guitarras-list li img {
    height: inherit;
    width: inherit;
    border-radius: 8px;
    
  }
}

